<div class="floating-shapes">
    <div class="floating-shape circle-shape circle-1"></div>
    <div class="floating-shape circle-shape circle-2"></div>
    <div class="floating-shape circle-shape circle-3"></div>
    <div class="floating-shape triangle-shape triangle-1"></div>
    <div class="floating-shape triangle-shape triangle-2"></div>
    <div class="floating-shape square-shape square-1"></div>
    <div class="floating-shape square-shape square-2"></div>
    <div class="floating-shape ani-float ani-1">🦫</div>
    <div class="floating-shape ani-float ani-2">🦫</div>
    <div class="floating-shape ani-float ani-3">🦫</div>
    <div class="floating-shape book-float book-1">📚</div>
    <div class="floating-shape book-float book-2">📖</div>
    <div class="floating-shape number-float number-3">3</div>
    <div class="floating-shape number-float number-6">6</div>
</div>