
<div class="text-center">
    <h5 class="fw-bolder mb-4">Kết Nối Với Nhóm Mình Qua</h5>
    <div class="d-flex justify-content-center gap-4">
        <a href="https://www.facebook.com/profile.php?id=61586790029686" class="social-link text-gradient">
            <i class="bi bi-facebook"></i>
        </a>
        <a href="https://m.me/61586790029686" class="social-link text-gradient">
            <i class="bi bi-messenger"></i>
        </a>
        <a href="https://mail.google.com/mail/?view=cm&fs=1&to=cmsfpthcm@gmail.com" target="_blank"
            class="social-link text-gradient">
            <i class="bi bi-google"></i>
        </a>
    </div>
</div>

<footer class="py-5 mt-auto">
    <div class="container custom-width px-5">
        
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto">
                <div class="m-0 link-fpt">Copyright &copy; CapMotSach Group5 2026</div>
            </div>
            <div class="col-auto">
                <a class=" link-fpt" href="/checklist">Checklist</a>
                <span class="mx-1 dot-separator">---</span>
                <a class=" link-fpt" href="/contact">Liên hệ</a>
            </div>
        </div>
    </div>
</footer>

