<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>
<meta
  name="description"
  content="<%= typeof description !== 'undefined' ? description : 'RoadMap kỳ 3 ngành SE - FPT University' %>"
/>

<meta property="og:title" content="Cạp Mọt Sách - Roadmap SE FPTU" />
<meta
  property="og:description"
  content="Lộ trình học tập ngành Software Engineering tại FPT University."
/>
<meta
  property="og:image"
  content="https://roadmapfptse.vercel.app/assets/logocapy.png"
/>
<meta property="og:type" content="website" />
<meta property="og:url" content="https://roadmapfptse.vercel.app/" />

<title>
  <%= typeof title !=='undefined' ? title + ' | Cạp Mọt Sách' : 'Cạp Mọt Sách'
  %>
</title>

<link rel="icon" type="image/png" href="/assets/Logo (2).png" />

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600;700;800&display=swap"
  rel="stylesheet"
/>
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
  rel="stylesheet"
/>

<link href="/css/styles.css" rel="stylesheet" />
<link href="/css/responsive.css" rel="stylesheet" />
